extends layout

block content
	header
		#header-left
			div.button
				img(src="/images/home.png")
		form#search-form
			#header-input
				input(id="searchbar", type="text", placeholder="Search Wikipedia")
			#header-right
				div.button(onclick="search()")
					img(src="/images/search.png")
	#main
		#content
	script.
		$(document).ready(function(){
			getWiki('#{title}');
		});
